<p style="font-size: 33px; font-weight: 700; margin-bottom: 3rem">Python 기초</p>

# 개요

본 강의 자료는 [Python 공식 Tutorial](https://docs.python.org/3/tutorial/index.html)에 근거하여 만들어졌으며, Python 3.9 이상 버전에 해당하는 내용을 담고 있습니다.

또한, 파이썬에서 제공하는 스타일 가이드인 [`PEP-8`](https://www.python.org/dev/peps/pep-0008/) 내용을 반영하였습니다. 

파이썬을 활용하는 다양한 IT기업들은 대내외적으로 본인들의 스타일 가이드를 제공하고 있습니다. 

* [구글 스타일 가이드](https://github.com/google/styleguide/blob/gh-pages/pyguide.md)
* [Tensorflow 스타일 가이드](https://www.tensorflow.org/community/style_guide)

# 기초 문법(Syntax)
## 주석(Comment)

* 한 줄 주석은 `#`으로 표현합니다. 

* 여러 줄의 주석은 
    1. 한 줄 씩 `#`을 사용해서 표현하거나,
    2. `"""` 또는 `'''`(여러줄 문자열, multiline string)으로 표현할 수 있습니다.
    (multiline은 주로 함수/클래스를 설명(docstring)하기 위해 활용됩니다.)

In [ ]:
# 주석을 연습해봅시다.

In [2]:
# 123

In [ ]:
# 여러줄 주석을 multiline string을 활용하여 연습해봅시다.

In [4]:
'''
주피터 노트북을 설치
원하는 폴더에서
$ jupyter notebook
'''

'\n주피터 노트북을 설치\n원하는 폴더에서\n$ jupyter notebook\n'

## 코드 라인
* 파이썬 코드는 '1줄에 1문장(statment)'이 원칙입니다.

* 문장(statement)은 파이썬이 실행 가능(executable)한 최소한의 코드 단위입니다. 

* 기본적으로 파이썬에서는 `;`을 작성하지 않습니다.

* 한 줄로 표기할때는 `;`을 작성하여 표기할 수 있습니다.

In [ ]:
# print문을 두번 써봅시다.

In [8]:
print(1)
print(2)

1
2

In [ ]:
# print문 2개를 한 줄로 이어서 작성하면 어떻게 될까요?
# 아래 코드를 실행시켜 결과를 확인해봅시다.

In [9]:
print(1) print(2)

SyntaxError: invalid syntax (767822954.py, line 1)

In [ ]:
# ;을 통해 코드를 구분시켜서 오류를 해결해봅시다.

In [ ]:
print(1) ; print(2)

In [ ]:
# 하지만 위와 같이 한줄에 두 개 이상의 코드를 작성하는 작성법은 잘 쓰지는 않습니다.

* 줄을 여러줄 작성할 때는 역슬래시`\`를 사용하여 아래와 같이 할 수 있다.

In [ ]:
# print문을 통해 하나의 문자열을 두 줄로 작성하여 실행해봅시다. 
# 아래의 코드를 실행시켜 오류 메시지를 확인해봅시다.

In [10]:
print('Hello 
World')

SyntaxError: unterminated string literal (detected at line 1) (1325599506.py, line 1)

In [ ]:
# print문을 통해 실행되는 코드 예시 작성해봅시다.
# hello 뒤에 \를 붙이고 다시 코드를 실행해봅시다.

In [12]:
print('Hello \
World')

Hello World

* `[]` `{}` `()`는 `\` 없이도 가능합니다.

In [ ]:
## PEP-8 가이드에 따르면 
## list 가 여러 줄로 작성될 때 
## 닫히는 대괄호의 위치는
## (1) 첫번째 문자(요소) 위치에 오거나 
## (2) 마지막 줄에서 생성자가 시작되는 첫번째 열에 위치합니다.

## 다른 (소, 중)괄호도 동일한 컨벤션을 따릅니다.

[
    1,
    2,
    3,
    4,
    5
]

# 변수(Variable)

## 변수 

<center><img src="https://user-images.githubusercontent.com/18046097/61179855-0c8d0200-a646-11e9-9e9e-2c6df0504296.png", alt="variable"/></center>


<center><img src="https://user-images.githubusercontent.com/18046097/61179857-13b41000-a646-11e9-9a88-8487df4eaf52.png", alt="box"/></center>

### 할당 연산자(Assignment Operator): `=`

* 변수는 `=`을 통해 할당(assignment) 됩니다. 

* 해당 데이터 타입을 확인하기 위해서는 `type()`을 활용합니다.

* 해당 값의 메모리 주소를 확인하기 위해서는 `id()`를 활용합니다.

In [ ]:
# 변수 x에 임의의 문자열을 할당해봅시다.

In [14]:
#
x = 'data-33'

In [ ]:
# type()을 사용해 결과를 확인해봅시다.

In [15]:
#
type(x)

str

In [ ]:
# id()를 사용해 결과를 확인해봅시다.

In [16]:
#
id(x)

2295798358960

* 같은 값을 동시에 할당할 수 있습니다.

In [ ]:
# 같은 값을 x와 y에 동시에 할당해봅시다.
# 그리고 print를 이용하여 x, y 값을 확인해봅시다.

In [21]:
#
x = y = 1

print(x)
print(y)

1
1

* 다른 값을 동시에 할당 가능합니다.

In [ ]:
# 두 개의 변수 x, y 에 1, 2 값을 동시에 할당해봅시다.
# 그리고 print를 이용하여 x, y 값을 확인해봅시다.

In [22]:
#
x, y = 1, 2

print(x)
print(y)

1
2

In [ ]:
# 두 개의 변수 x, y에 값 1을 할당해봅시다.
# 두 개의 변수에 하나의 값을 넣었을때의 오류를 확인해봅시다.

In [23]:
#
x, y = 1

TypeError: cannot unpack non-iterable int object

In [ ]:
# 두 개의 변수 x, y에 값 1, 2, 3 을 동시에 할당해 봅시다.
# 두 개의 변수에 세 개의 값을 넣었을때의 오류를 확인해 봅시다.

In [24]:
#
x, y = 1, 2, 3

ValueError: too many values to unpack (expected 2)

* 이를 활용하면 서로 값을 바꾸고 싶은 경우 아래와 같이 활용 가능합니다.

In [ ]:
# 변수 x와 y의 값을 바꿔봅시다.
# 그리고 결과를 print를 이용해 확인해봅시다.

In [30]:
#
x = 1
y = 2

# 코드를 활용하여 x 는 2 / y 는 1로 바꿔봅시다 (다만 코드에 숫자는 없어야 합니다)

tmp = y
y = x
x = tmp

print(x)
print(y)

x, y = y, x

print(x, y)

2
1
1 2

In [37]:
# 
x = 20
y = 100

# 임시변수 X
# x, y = y, x 도 쓰지않고 바꿀 수 있을까?
x = x + y
y = x - y
x = x - y
print(x, y)

100 20

In [38]:
# 변수에 새로운 값을 할당할 수 있다.
# 새로운 값을 할당하면, 기존 값은 사라진다.

x = 10
x = 20

10 20

### 식별자(Identifiers)

파이썬에서 식별자는 변수, 함수, 모듈, 클래스 등을 식별하는데 사용되는 이름(name)입니다. 

* 식별자의 이름은 영문알파벳(대문자와 소문자), 언더스코어(_), 숫자로 구성됩니다.
* 첫 글자에 숫자가 올 수 없습니다.
* 길이에 제한이 없습니다.
* 대소문자(case)를 구별합니다.
* 아래의 키워드는 사용할 수 없습니다. [파이썬 문서](https://docs.python.org/ko/3/reference/lexical_analysis.html#keywords)

```
False, None, True, and, as, assert, async, await, break, class, continue, def, del, elif, else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with, yield
```

In [44]:
# 키워드들을 직접 확인해봅시다.

In [45]:
# import 구문은 모듈파트에서 다시 알아봅시다.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

*  내장함수나 모듈 등의 이름으로도 만들면 안됩니다.

In [ ]:
# 내장함수의 이름을 사용하면 어떤일이 일어나는지 확인해봅시다.

In [46]:
# print는 값을 출력해주는 내장함수(Built-in function)입니다.
print(50)

50

In [52]:
# 예시로 변수명을 print라하고 문자열 'hi'를 할당해봅시다. 
# 그리고 print() 를 사용하고 오류를 확인해봅시다.
# print은 이제 'hi'라는 값으로 할당되었기 때문에 이전의 화면 출력 기능을 수행하지 못합니다.
print = 'hi'

print(100)

TypeError: 'str' object is not callable

In [53]:
# 뒤에서 진행될 코드에 영향이 갈 수 있기 때문에 방금 생성한 print 변수를 삭제합니다.
# 이렇게 하면 변수 print 는 삭제되고 화면출력의 print는 사용가능 합니다.
# 자세한 내용은 namespace 파트에서 확인해봅시다.
del print

# 데이터 타입(Data Type)

- **숫자**(Number) 타입
- **문자열**(String) 타입
- **참/거짓**(Boolean) 타입

## 숫자(Number) 타입
[파이썬 문서](https://docs.python.org/ko/3/library/stdtypes.html#numeric-types-int-float-complex)

###  (1) `int` (정수, integer)

모든 정수는 `int`로 표현됩니다.

Python3에서는 `long` 타입은 없고 모두 `int` 타입으로 표기 됩니다.

* 보통 프로그래밍 언어 및 Python2에서의 long은 OS 기준 32/64비트입니다.
* Python3에서는 모두 int로 통합되었습니다.

8진수 : `0o` / 2진수 : `0b` / 16진수: `0x` 로도 표현 가능합니다.

In [ ]:
# 변수 a에 정수 3을 넣고 해당 변수의 type을 알아봅시다.

In [54]:
#
a = 3
print(a)
print(type(a))

3
<class 'int'>

In [ ]:
# 변수 a에 2의 64제곱을 할당해줍니다.
# print와 type을 이용하여 a의 값과 타입을 확인해봅시다.

In [58]:
#
a = 2 ** 64
print(a)
print(type(a))

18446744073709551616
<class 'int'>

In [ ]:
# n진수를 만들어봅시다.
# 2진수는 binary_number에 0b10을 할당합니다.
# 8진수는 octal_number에 0o10을 할당합니다.
# 10진수는 decimal_number에 10을 할당합니다.
# 16진수는 hexadecimal_number에 0x10을 할당합니다.
# 그리고 결과를 print를 이용해서 여러줄로 출력해봅시다.

In [65]:
#
bn = 0b10
on = 0o10
dn = 10
hn = 0x10

print(bn, on, dn, hn)

2 8 10 16

### (2) `float` (부동소수점, 실수, floating point number)

실수는 `float`로 표현됩니다. 

다만, 실수를 컴퓨터가 표현하는 과정에서 부동소수점을 사용하며, 항상 같은 값으로 일치되지 않습니다. (floating point rounding error)

이는 컴퓨터가 2진수(비트)를 통해 숫자를 표현하는 과정에서 생기는 오류이며, 대부분의 경우는 중요하지 않으나 값을 같은지 비교하는 과정에서 문제가 발생할 수 있습니다.

In [ ]:
# 변수 a에 실수 3.5를 넣고 해당 변수의 type을 알아봅시다.

In [66]:
#
a = 3.5
print(a)
print(type(a))

3.5
<class 'float'>

#### 컴퓨터식 지수 표현 방식
* e를 사용할 수도 있습니다. (e와 E 모두 사용 가능)

In [ ]:
# 컴퓨터식 지수 표현 방식을 사용해봅시다.
# 변수 b에 지수 314e-2를 넣고 해당 변수의 type을 알아봅시다.
# print를 이용해 변수 b의 값도 알아봅시다.

In [69]:
#
print(314e-2)
print(123e3)

3.14
123000.0

#### 실수의 연산
* 실수의 경우 실제로 값을 처리하기 위해서는 조심할 필요가 있습니다.

In [ ]:
# 실수의 덧셈을 해봅시다.
# 실수 아무 값이나 두 개를 더해봅시다. (3.5 + 3.2)

In [1]:
3.5 + 3.2

6.7

In [ ]:
# 실수의 뺄셈을 해봅시다. (3.5 - 3.12)

In [2]:
3.5 - 3.12

0.3799999999999999

In [ ]:
# 우리가 원하는대로 반올림을 해봅시다.
# round() 는 0~4는 내림, 5는 동일하게 작동하지 않고 반올림 방식에 따라 다릅니다.
# 짝수에서 5는 내림 / 홀수에서 5는 올림
# round(값, 소수점자릿수)
# 3.5 - 3.12 의 값을 반올림하는데 소수점 2자리까지 나타나게 해봅시다.

In [3]:
#
round(3.5 - 3.12, 2)

0.38

In [ ]:
# 3.5 - 3.12의 결과와 0.38의 값이 같은지 == 을 사용해서 확인해봅시다.

In [5]:
#
3.5 - 3.12 == 0.38

False

In [ ]:
# print를 이용해서 3.5 - 3.12의 값을 확인해 봅시다.

In [6]:
#
print(3.5 - 3.12)

0.3799999999999999

In [ ]:
# python 3.5부터 활용 가능한 math 모듈을 통해 처리하는 법을 알아봅시다.

In [8]:
# math.isclose() 를 이용해서 a와 b의 값이 같은지 확인할수 있습니다.
import math
math.isclose(3.5 - 3.12, 0.38)

True

## 문자열(String) 타입

### 기본 활용법

* 문자열은 Single quotes(`'`)나 Double quotes(`"`)을 활용하여 표현 가능합니다.

    - 작은따옴표: `'"큰" 따옴표를 담을 수 있습니다'`

    - 큰따옴표: `"'작은' 따옴표를 담을 수 있습니다"`

    - 삼중 따옴표: `'''세 개의 작은따옴표'''`, `"""세 개의 큰따옴표"""`


* 단, 문자열을 묶을 때 동일한 문장부호를 활용해야하며, `PEP-8`에서는 **하나의 문장부호를 선택**하여 유지하도록 하고 있습니다. 
(Pick a rule and Stick to it)

In [ ]:
# 변수에 문자열을 넣고 출력해봅시다.

In [10]:
#
first_name = 'tae young'
last_name = 'yu'

print(first_name, last_name)
print(type(last_name))

tae young yu
<class 'str'>

In [ ]:
# 변수 age 에 사용자로 부터 입력을 받을 수 있는 input()의 결과를 저장합시다.
# age 에 입력받은 값이 저장되었는지 그리고 그 type이 무엇인지 확인해봅시다.
# 숫자를 넣었을때와 문자를 넣었을때의 type이 같은지 다른지도 확인해봅시다.

In [1]:
# INPUT => 무조건 문자열(string)

age = input()
print(age, type(age))

 <class 'str'>

#### 따옴표 사용

문자열 안에 문장부호(`'`, `"`)가 사용될 경우 이스케이프 문자(`\`)를 활용 가능 합니다.

In [ ]:
# 문자열 안에 문장부호가 들어간 '철수가 말했다. '안녕?'' 을 활용해서 오류를 확인해봅시다.

In [4]:
print('철수가 말했다. '안녕?'')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3686239262.py, line 1)

In [ ]:
# 해당 오류를 1) 이스케이프 문자와 2) 서로 다른 문장부호 구성을 통해 해결해봅시다.

In [7]:
#
print("철수가 말했다. '안녕?'")

print('철수가 말했다. \'안녕?\'')

철수가 말했다. '안녕?'
철수가 말했다. '안녕?'

여러줄에 걸쳐있는 문장은 다음과 같이 표현 가능합니다.

* `PEP-8`에 따르면 이 경우에는 반드시 `"""`를 사용하도록 되어 있다.

In [ ]:
# 여러줄을 출력해봅시다.

In [8]:
#
print('''안녕하세요
반갑습니다
여러줄이에요
여기까지입니다.''')

안녕하세요
반갑습니다
여러줄이에요
여기까지입니다.

In [ ]:
# 문자열은 + 연산자로 이어붙이고, * 연산자로 반복시킬 수 있습니다.
# 'heyheyhey yo!' 를 출력하도록 코드를 작성해봅시다.

In [10]:
#
'hey' * 3 + ' yo!'

'heyheyhey yo!'

In [ ]:
# 변수화해서도 사용가능합니다.
# 변수 prefix에 'Py'를 할당합니다.
# 그리고 prefix에 'thon'을 붙여봅시다.

In [11]:
#
prefix = 'Py'
prefix + 'thon'

'Python'

### 이스케이프 시퀀스

문자열을 활용하는 경우 특수문자 혹은 조작을 하기 위하여 사용되는 것으로 `\`를 활용하여 이를 구분합니다. 

|<center>예약문자</center>|내용(의미)|
|:--------:|:--------:|
|\n|줄 바꿈|
|\t|탭|
|\r|캐리지리턴|
|\0|널(Null)|
|\\\\ |`\`|
|\\'|단일인용부호(`'`)|
|\\"|이중인용부호(`"`)|

In [12]:
# print를 한 번민 시영히거 이스케이프 문자열을 조합하여 다음 결과가 나올 수 있게 해봅시다.
# '엔터
# 탭    탭'

print('엔터\n탭\t탭')

엔터
탭	탭

In [17]:
# print 함수의 end 옵션에도 이스케이프 문자를 사용할 수 있습니다.
# 아래 코드를 수정하여 다음의 결과를 출력해봅시다.
# '내용을 띄워서 출력하고 싶으면?    옆으로 띄워짐'
print('안녕', end='\t')
print('하세요')

안녕	하세요

In [ ]:
# print 함수의 end 옵션의 기본은 \n입니다.
# end 옵션은 이스케이프 문자열이 아닌 다른 것도 가능합니다.
# end에 다른 문자열도 넣을 수 있습니다. 
# 아래 코드를 수정하여 다음의 결과를 출력해봅시다.
# '개행 문자 말고도 가능합니다!진짜로!알고보면 print는 기본이\n!'

### String interpolation 

* [`str.format()` ](https://pyformat.info/)

* [`f-strings`](https://www.python.org/dev/peps/pep-0498/) : 파이썬 3.6 이후 버전에서 지원

In [ ]:
# name 변수에 이름, score 변수에 학점을 넣어봅시다.

In [20]:
#
name = '유태영'
score = 80

In [21]:
# str.format()을 활용해봅시다.
# name 을 출력해봅시다.

In [24]:
#
'제 이름은 {}, 점수는 {} 입니다.'.format(name, score)

'제 이름은 유태영, 점수는 80 입니다.'

In [ ]:
# f-string을 활용해봅시다.
# name 을 출력해봅시다.

In [25]:
#
f'제 이름은 {name}, 점수는 {score} 입니다.'

'제 이름은 유태영, 점수는 80 입니다.'

In [ ]:
# 여러줄 문자열에서도 사용 가능합니다.
# f-string을 이용하여 name을 여러줄 문자열로 출력해봅시다.

In [29]:
print(f'''제 이름은 {name},
점수는 {score} 입니다.''')

제 이름은 유태영,
점수는 80 입니다.

## 참/거짓(Boolean) 타입

파이썬에는 `True`와 `False`로 이뤄진 `bool` 타입이 있습니다.

비교/논리 연산을 수행 등에서 활용됩니다.

다음은 `False`로 변환됩니다.
```
0, 0.0, (), [], {}, '', None
```

In [31]:
# True와 False의 type을 알아봅시다.
type(True)

bool

In [ ]:
# 다양한 True, False 상황들을 확인해봅시다.
# 형변환(Type Conversion)에서 추가적으로 다루는 내용입니다.

In [32]:
# 0 을 bool 타입으로 형변환해봅시다.
bool(0)

False

In [40]:
# 1 을 bool 타입으로 형변환해봅시다.
bool(1)

True

In [34]:
# None 을 bool 타입으로 형변환해봅시다.
bool(None)

False

In [39]:
# 빈 리스트를 bool 타입으로 형변환해봅시다.
bool([''])

True

In [36]:
# 빈 문자열을 bool 타입으로 형변환해봅시다.
bool('')

False

In [37]:
# ['hi']를 bool 타입으로 형변환해봅시다.
bool(['hi'])

True

In [38]:
# 'hi'를 bool 타입으로 형변환해봅시다.
bool('hi')

True

### `None` 타입

파이썬에서는 값이 없음을 표현하기 위해 `None` 타입이 존재합니다.

In [ ]:
# None의 타입을 알아봅시다.

In [3]:
# 변수에 저장해서 확인해봅시다.
# 변수 a에 None을 할당하고 출력해봅시다.
a = None
print(type(a))

a.text

<class 'NoneType'>

AttributeError: 'NoneType' object has no attribute 'text'

## 형변환(Type conversion, Typecasting)

파이썬에서 데이터타입은 서로 변환할 수 있습니다.

- 암시적 형변환
- 명시적 형변환

### 암시적 형변환(Implicit Type Conversion)

사용자가 의도하지 않았지만, 파이썬 내부적으로 자동으로 형변환 하는 경우입니다.
아래의 상황에서만 가능합니다.
* bool
* Numbers (int, float, complex)

In [5]:
# boolean과 integer는 더할 수 있을까요?
# True와 임의의 정수를 더해봅시다.
1 + True

2

In [10]:
# int, float, 각각 변수에 대입해봅시다.
# 변수 int_number 에 정수를 할당해봅시다.
# 변수 float_numbe 에 실수를 할당해봅시다.
i = 3
f = 2.0

In [12]:
# int와 float를 더해봅시다. 그리고 값을 출력해봅시다.
# 그 결과의 type은 무엇일까요?
print(i + f, type(i + f))

5.0 <class 'float'>

### 명시적 형변환(Explicit Type Conversion)
위의 상황을 제외하고는 모두 명시적으로 형변환을 해주어야합니다.

* string -> intger  : 형식에 맞는 숫자만 가능
* integer -> string : 모두 가능

암시적 형변환이 되는 모든 경우도 명시적으로 형변환이 가능합니다.

* `int()` : string, float를 int로 변환
* `float()` : string, int를 float로 변환
* `str()` : int, float, list, tuple, dictionary를 문자열로 변환

`list()`, `tuple()` 등은 다음 챕터에서 배울 예정입니다.

In [ ]:
# integer와 string 사이의 관계는 명시적으로 형변환을 해줘야만 합니다.

In [14]:
# 정수와 문자열을 그냥 더해보고 오류를 확인해봅시다.
1 + '등'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
# 정수를 문자열로 형변환하고 문자열과 더해봅시다.
str(1) + '등'

'1등'

In [20]:
# 변수 a에 string 3을 할당하고 integer로 변환해봅시다.
a = '3'
int(a)

3

In [22]:
# 변수 a에 string 3.5를 할당하고 float로 변환해봅시다.

a = '3.5'
float(a)

3.5

In [23]:
# string은 글자가 숫자일때만 형변환이 가능합니다.
# 변수 a에 문자열 'hi'를 할당하고 integer로 변환해봅시다.
a = 'hi'
int(a)

ValueError: invalid literal for int() with base 10: 'hi'

In [24]:
# string 3.5를 int로 변환할 수는 없습니다.
# 변수 a에 string 3.5를 저장하고 integer로 변환하고 오류를 확인해봅시다.
int('3.5')

ValueError: invalid literal for int() with base 10: '3.5'

In [26]:
# float 3.5는 int로 변환이 가능합니다.
# 변수 a에 실수 3.5를 저장하고 integer로 변환해봅시다.

a = 3.5
b = 4

print(int(a), float(b))

3 4.0

# 연산자(Operator)

- 산술 연산자
- 비교 연산자
- 논리 연산자
- 복합 연산자
- 기타 연산자

## 산술 연산자
Python에서는 기본적인 사칙연산이 가능합니다. 

|연산자|내용|
|----|---|
|+|덧셈|
|-|뺄셈|
|\*|곱셈|
|/|나눗셈|
|//|몫|
|%|나머지(modulo)|
|\*\*|거듭제곱|

- 나눗셈 (`/`) 은 항상 float를 돌려줍니다.
- 정수 나눗셈 으로 (소수부 없이) 정수 결과를 얻으려면 `//` 연산자를 사용합니다.

In [28]:
# 2의 1000승을 확인해봅시다.
2 ** 1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [35]:
# 나눗셈과 관련된 산술연산자를 활용해봅시다.
# 5와 2를 나눈 값을 출력해봅시다.
# 5와 2를 나눈 값의 몫을 출력해봅시다.
# 5와 2를 나눈 값을 integer로 형변환해봅시다.
# 5와 2를 나눈 값의 나머지를 출력해봅시다.
5 / 2
5 // 2
int(5 / 2)
5 % 2

1

In [38]:
# 음수 양수 표현도 해봅시다.
# 변수 positive_num 에 4를 할당하고 print할 때 -를 붙여서 print로 출력해봅시다.
# 변수 negative_num 에 -4를 할당하고 print할 때 + 와 - 를 붙여서 각각을 print로 출력해봅시다.
pn = 4
-pn

nn = -4
print(+nn, -nn)

-4 4

## 비교 연산자

우리가 수학에서 배운 연산자와 동일하게 값을 비교할 수 있습니다.

|연산자|내용|
|----|---|
|`<`|미만|
|`<=`|이하|
|`>`|초과|
|`>=`|이상|
|`==`|같음|
|`!=`|같지않음|
|`is`|객체 아이덴티티|
|`is not`|부정된 객체 아이덴티티|

In [52]:
# 숫자의 대소관계를 비교해봅시다.
# 아무 정수 2개를 비교해봅시다.

3 > 5
3 >= 3
2 < 5
4 <= 3  # False

False

In [ ]:
3 + 4  # 7

In [45]:
# 다른 숫자인지 확인해봅시다.
# 3의 정수형과 실수형이 같은지 비교해봅시다.
3 == 3.0

True

In [46]:
# 같은 숫자인지 확인해봅시다.
# 같은 숫자를 != 를 확인하여 비교해봅시다.
10 != 10

False

In [47]:
# 문자열도 같은지 확인해봅시다.
# 대문자 HI와 소문자 hi가 같은지 확인해 봅시다.
'HI' == 'hi'

False

## 논리 연산자

|연산자|내용|
|---|---|
|a and b|a와 b 모두 True시만 True|
|a or b|a 와 b 모두 False시만 False|
|not a|True -> False, False -> True|

우리가 보통 알고 있는 `&` `|`은 파이썬에서 비트 연산자입니다.

In [57]:
# and과 관련해서 모든 case를 출력해봅시다.
# True와 False를 이용하여 and 의 모든 경우의 수(4개)를 출력해봅시다. 
# (True and True), (True and False), ...
True and True
True and False
False and True
False and False

False

In [61]:
# or과 관련해서 모든 case를 출력해봅시다.
# True와 False를 이용하여 or 의 모든 경우의 수(4개)를 출력해봅시다.
# (True or True), (True or False), ...
True or True
True or False
False or True
False or False

False

In [63]:
# not을 활용해봅시다.
# print를 이용하여 True 와 0의 not 값을 각각 확인해봅시다.

x = True
y = 0
not y

True

* 파이썬에서 and는 a가 거짓이면 a를 리턴하고, 참이면 b를 리턴합니다.
* 파이썬에서 or은 a가 참이면 a를 리턴하고, 거짓이면 b를 리턴합니다.

### 단축평가 (Short Circuit Evaluation)
* 첫 번째 값이 확실할 때, 두 번째 값은 확인 하지 않습니다.
* 조건문에서 뒷 부분을 판단하지 않아도 되기 때문에 속도가 향상됩니다.

In [65]:
True and True and False and True and True

False

In [66]:
# 문자열 'a'와 'b'의 and 값이 무엇인지 확인해봅시다.

'a' and 'b'

'b'

In [67]:
# 문자열 'a'와 'b'의 or 값이 무엇인지 확인해봅시다.
'a' or 'b'

'a'

- `and` 는 둘 다 True일 경우만 True이기 때문에 첫번째 값이 True라도 두번째 값을 확인해야 하기 때문에 'b'가 반환됩니다.
- `or` 는 하나만 True라도 True이기 때문에 True를 만나면 해당 값을 바로 반환합니다.

In [68]:
# and의 단축평가(short-circuit evaluation)에 대해서 알아봅시다.
'a' and 10 and True and 0 and 4 and 3.14 and 'asdf'

0

In [69]:
# or의 단축평가(short-circuit evaluation)에 대해서 알아봅시다.
0 or '' or False or '0' or None or [] or () or {}

'0'

## 복합 연산자

복합 연산자는 연산과 대입이 함께 이뤄집니다. 

가장 많이 활용되는 경우는 반복문을 통해서 갯수를 카운트하거나 할 때 활용됩니다.

|연산자|내용|
|----|---|
|a += b|a = a + b|
|a -= b|a = a - b|
|a \*= b|a = a \* b|
|a /= b|a = a / b|
|a //= b|a = a // b|
|a %= b|a = a % b|
|a \*\*= b|a = a ** b|

In [71]:
a = 1
# a = a + 1
a += 1
print(a)

b = 3
# b = b * 4
b *= 4
print(b)

2
12

In [72]:
# 복합연산자는 이럴 때 사용됩니다.
# 0으로 할당된 변수 cnt 를
# 반복문 while 을 이용하여 5회 반복하는데
# 반복하는 동안 cnt를 print로 출력하고 cnt에 1씩 더해봅시다.
# 단, cnt 를 더할때는 복합연산자를 사용해봅시다.

cnt = 0
while cnt < 5:
    print(cnt)
    cnt += 1

0
1
2
3
4

## 기타 주요 연산자

### Concatenation

숫자가 아닌 자료형은 `+` 연산자를 통해 합칠 수 있습니다.

In [73]:
# 문자열을 더해봅시다.(합쳐봅시다.)
# 아무 문자 2개를 + 를 이용하여 합쳐봅시다.

'a' + 'b'

'ab'

In [74]:
# list 등 다른 데이터타입(컨테이너)에서도 활용 가능합니다.
# 두 list [1, 2, 3] 과 [4, 5, 6] 을 + 를 이용하여 합쳐봅시다.

[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

### Containment Test

`in` 연산자를 통해 요소가 속해있는지 여부를 확인할 수 있습니다.

In [76]:
# 문자열안에 특정한 문자가 있는지 확인해봅시다.
# 문자열 'a' 가 'apple' 에 속해있는지 확인해봅시다.

'a' in 'apple'
'b' in 'apple'

False

In [77]:
# list 등 다른 데이터타입(컨테이너)에서도 활용 가능합니다.
# 정수 1이 list [1, 2, 3]에 속해있는지 확인해봅시다.
1 in [1, 2, 3]

True

### Identity

`is` 연산자를 통해 동일한 object인지 확인할 수 있습니다. (OOP 파트에서 다시 학습하게 됩니다.)

In [4]:
# 파이썬에서 -5 부터 256 까지의 id는 동일합니다.
# 변수 a에는 3을 변수 b에는 3을 할당해봅시다.
# 그리고 a 와 b 가 동일한 object인지 확인해봅시다.

a = 0
b = 0

a is b

print(id(a), id(b))

140714631160584 140714631160584

In [6]:
# 257 이후의 id 는 다릅니다.
# 변수 a에는 257을 변수 b에는 257을 할당해봅시다.
# 그리고 a 와 b 가 동일한 object인지 확인해봅시다.
x = 257
y = 257


print(id(x), id(y))
x is y

2208215200784 2208215192048

False

In [14]:
x = '가'

In [15]:
y = '가'

In [16]:
x is y

False

### Indexing/Slicing
`[]`를 통한 값을 접근하고, `[:]`을 통해 슬라이싱할 수 있습니다. (Container 파트에서 자세하게 학습합니다.)

In [10]:
# 문자열을 인덱싱을 통해 값에 접근해봅시다.
# 문자열 'asdf'의 첫번째 값을 인덱싱으로 확인해봅시다.
'asdf'[0]

'a'

## 연산자 우선순위

0. `()`을 통한 grouping

1. Slicing

2. Indexing

3. 제곱연산자
    `**`

4. 단항연산자 
    `+`, `-` (음수/양수 부호)

5. 산술연산자
    `*`, `/`, `%`
    
6. 산술연산자
    `+`, `-`
 
7. 비교연산자, `in`, `is`

8. `not`

9. `and` 

10. `or`

[파이썬 문서](https://docs.python.org/ko/3/reference/expressions.html#operator-precedence)

In [11]:
# 우선순위를 확인해봅시다.

3 + 2 * 4

11

In [14]:
# -3 ** 2의 값을 확인해봅시다.
-3 ** 2

-9

In [13]:
# (-3) ** 2의 값을 확인해봅시다.
(-3) ** 2

9

In [16]:
x = -3
x ** 2

9

In [ ]:
1 and 2 and 3 and 4