<p style="font-size: 33px; font-weight: 700; margin-bottom: 3rem">컨테이너(Container)</p>

여러 개의 값을 저장할 수 있는 것(~~객체~~)

- 시퀀스(Sequence)형: 순서가 있는(ordered) 데이터
- 비 시퀀스(Non-sequence)형: 순서가 없는(unordered) 데이터

# 시퀀스(sequence)형 컨테이너

`시퀀스`는 데이터가 순서대로 나열된(ordered) 형식을 나타냅니다. 

* **주의! 순서대로 나열된 것이 `정렬되었다(sorted)`라는 뜻은 아닙니다.**

## 특징
1. 순서를 가질 수 있습니다.

2. **특정 위치의 데이터를 가리킬 수 있습니다.**

## 종류
파이썬에서 기본적인 시퀀스 타입은 다음과 같습니다.

* 리스트(list)

* 튜플(tuple)

* 레인지(range)

* *문자형(string)*

* *바이너리(binary)* : 따로 다루지는 않습니다.


## 리스트(`list`)

<center><img src="https://user-images.githubusercontent.com/18046097/61180421-fe90ae80-a650-11e9-8211-d06f87756d05.png", alt="list figure"/></center>

**활용법**
```python
[value1, value2, value3]
```

리스트는 대괄호`[]` 및 `list()` 를 통해 만들 수 있습니다.

값에 대한 접근은 `list[i]`를 통해 합니다.

In [ ]:
# 빈 list를 만들어봅시다.
# 변수명 my_list인 list를 대괄호로 만들어봅시다.
# 변수명 another_list인 list를 list()로 만들어 봅시다.
# 두 변수의 타입을 출력해 봅시다.
my_list = []
another_list = list()

print(my_list, another_list)
type(my_list)

In [39]:
# 원소를 포함한 list를 만들어 봅시다.
# 변수명이 locations인 list에 지역 5곳을 원소로 포함해 만들어 봅시다.
# 변수 locations을 출력해 봅시다.
# locations의 타입을 출력해 봅시다.

# 1. 리스트/튜플 은 변수명을 복수형으로 만든다.
# 2. , 뒤에 띄어쓰기 필수

locations = ['서울', '성남', '부산', '대구', '울산', '인천', '일산']

In [40]:
# locations의 첫번째 값을 인덱스로 접근해 봅시다.
locations[0]

'서울'

In [45]:
# locations 의 첫번째 값을 바꿔봅시다. (mutable)
locations[0] = '세종'
locations

['세종', '성남', '부산', '대구', '울산', '인천', '일산']

## 튜플(`tuple`)

**활용법**
```python
(value1, value2)
```

튜플은 리스트와 유사하지만, `()`로 묶어서 표현합니다.

그리고 tuple은 수정 불가능(불변, immutable)하고, 읽을 수 밖에 없습니다.

직접 사용하기 보다는 파이썬 내부에서 다양한 용도로 활용되고 있습니다.

In [ ]:
# tuple을 만들어봅시다.
# 변수명이 my_tuple인 tuple을 만들어 봅시다. 단, 무작위 정수 2개를 포함하여 만듭니다.
# my_tuple의 타입을 출력해 봅시다.
my_tuple = (1, 2)
print(my_tuple, type(my_tuple))

In [ ]:
# 아래와 같은 방식으로도 만들 수 있습니다.
t = 1, 2, 3, 4, 5
print(t, type(t))

In [ ]:
# 파이썬 내부에서는 다음과 같이 활용됩니다. (변수 및 자료형 예제에서 사용된 코드입니다.)

x, y = 1, 2
print(x)
print(y)

In [ ]:
# 실제로는 tuple로 처리됩니다.
(x, y) = (1, 2)

print(x)
print(y)

In [ ]:
# 변수의 값을 swap하는 코드 역시 tuple을 활용하고 있습니다. 
(x, y) = (y, x)

In [ ]:
# 변수명이 empty인 빈 tuple을 만들어 봅시다.
# 빈 tuple은 빈 괄호 쌍으로 만들어집니다.
# empty의 타입을 출력해 봅시다.
# empty의 길이를 출력해 봅시다.

empty = ()

type(empty)

In [ ]:
# 변수명이 single_tuple인 하나의 요소(값)로 구성된 tuple을 만들어 봅시다. (길이가 1)
# 하나의 요소(값)로 구성된 tuple은 값 뒤에 쉼표를 붙여서 만듭니다.
# single_tuple의 타입을 출력해 봅시다.
# single_tuple의 길이를 출력해 봅시다.

single = (1, )

print(type(single))

In [ ]:
# 길이가 1인 tuple을 만들 때 쉼표가 없는 경우 어떻게 되는지 확인 해봅시다.

In [47]:
# Tuple은 값을 바꿀 수 없다 (immutable)
t = (1, 2, 3)
t[0] = 100

TypeError: 'tuple' object does not support item assignment

## 레인지(`range()`)

`range` 는 숫자의 시퀀스를 나타내기 위해 사용됩니다.

기본형 : `range(n)` 


> 0부터 n-1까지 값을 가짐


범위 지정 : `range(n, m)` 

> n부터 m-1까지 값을 가짐

범위 및 스텝 지정 : `range(n, m, s)`

> n부터 m-1까지 +s만큼 증가한다

In [ ]:
# range를 만들어봅시다.
# 0부터 2까지 값을 가지는 range를 만들고 타입을 출력해 봅시다.

2 in range(3)

In [ ]:
# 0부터 9까지 값을 가지는 range를 만들고 list로 형 변환을 해 봅시다.
# 작성한 range를 list()로 감싸 형 변환 할 수 있습니다.
list(range(10))

In [ ]:
# 4부터 8까지의 숫자를 담은 range를 만들고 list로 형 변환을 해 봅시다.
list(range(4, 9))

In [ ]:
# range(start, end, [step, ])을 활용합니다.
# 0부터 -9까지 담긴 range를 만들고 list로 형 변환을 해 봅시다.
# 출력 결과는 다음과 같습니다.
# [0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
list(range(1, 11, 2))
list(range(0, -10, -1))
list(range(3, 10, 2))
list(range(5, 0, -1))

In [50]:
# immutable
r = range(3, 5)
r[0] = 100

TypeError: 'range' object does not support item assignment


## 시퀀스에서 활용할 수 있는 연산자/함수 

|operation|설명|
|---------|---|
|x `in` s	|containment test|
|x `not in` s|containment test|
|s1 `+` s2|concatenation|
|s `*` n|n번만큼 반복하여 더하기
|`s[i]`|indexing|
|`s[i:j]`|slicing|
|`s[i:j:k`]|k간격으로 slicing|
|len(s)|길이|
|min(s)|최솟값|
|max(s)|최댓값|
|s.count(x)|x의 개수|

In [ ]:
# containment test를 확인해봅시다.
# 변수 my_string에 문자열 'string'을 담습니다.
# 문자열 'a'가 my_string에 포함되는지 'in' 연산자를 통해 확인하고 결과를 출력해봅시다.
my_string = 'string'

'a' in my_string

In [ ]:
# containment test를 확인해봅시다.
# 변수명이 my_list이고 정수 1, 2, 3, 5, 1들을 원소로 가지는 list를 만듭니다.
# 정수 3이 my_list에 포함되는지 'in' 연산자를 통해 확인하고 결과를 출력해봅시다.
my_list = [1, 2, 3, 5, 1]
3 in my_list

In [ ]:
# concatenation(연결, 연쇄)를 해봅시다.
# 문자열 '안녕'과 문자열 '하세요'를 더하고 결과를 출력해 봅시다.
# 정수 1과 2를 포함한 tuple과 정수 5와 6을 포함한 tuple을 더하고 결과를 출력해봅시다.
'안녕' + '하세요'

(1, 2) + (5, 6)

In [ ]:
# 숫자 0이 6개 있는 list를 만들어봅시다.
# 단, 곱셉 연산자를 활용하여 만듭니다.
[0] * 6

In [ ]:
# indexing과 slicing을 하기 위해 list하나를 만들어주세요.
# 변수명은 location, 원소는 무작위 지역 5곳을 문자열로 작성합니다.
# location의 첫번째 원소에 index로 접근해 봅시다.

locations = ['서울', '성남', '인천', '부산', '울산']

locations[0]

In [ ]:
# 두번째, 세번째 값만 가져와봅시다.
# slicing을 사용합니다.
locations[1:3]

In [ ]:
# 0부터 30까지의 정수를 원소로 가지는 list를 만들어 봅시다.
# range를 활용하여 list를 생성합니다.
numbers = list(range(31))
print(numbers)

In [ ]:
# list[start: end: step]
# 위에서 작성한 list를 활용하여 0부터 30까지 3씩 증가하는 값을 가지는 새로운 list를 만들어 봅시다.
# 새롭게 생성한 list를 출력해 봅시다.

numbers[1:5]

numbers[:11]  # numbers[0:11]  => 시작을 생략하면 처음부터
numbers[20:]  # numbers[20:31]  => 끝을 생략하면 끝까지
numbers[::3]  # numbers[0:31:3]  => 끝을 생략하면 끝까지
numbers[::-1]  # numbers 를 뒤집어라
numbers[0:5:-1]  # 시작:끝:스텝 (range랑 똑같다)

new_nums = numbers[::3]
new_nums

In [ ]:
# 위에서 만든 list의 길이를 확인해봅시다.
len(new_nums)

In [ ]:
# 위에서 만든 list의 길이, 최솟값, 최댓값을 확인해봅시다.
min(new_nums), max(new_nums)

In [ ]:
# list에 담긴 특정한 것의 개수를 확인할 수도 있습니다.
sample = [1, 2, 1, 2, 1, 1, 1]
sample.count(1)

# 비 시퀀스형(Non-sequence) 컨테이너

- 세트(set)

- 딕셔너리(dictionary)

## `set`

`set`은 순서가 없고 중복된 값이 없는 자료구조입니다.

* `set`은 수학에서의 집합과 동일하게 처리됩니다. 

* `set`은 중괄호`{}`를 통해 만들며, 순서가 없고 중복된 값이 없습니다.

* 빈 세트를 만들려면 `set()`을 사용해야 합니다. (`{}`로 사용 불가능)

* 활용 가능한 연산자는 차집합(`-`), 합집합(`|`), 교집합(`&`)입니다.

### 활용법
```python
{value1, value2, value3}
```

In [ ]:
# set 두개를 만들어서 연산자들을 활용해봅시다.

In [ ]:
set_a = {1, 2, 3}
set_b = {3, 6, 9}

* 차집합은 연산자 `-`를 사용합니다.

In [ ]:
# set_a와 set_b의 차집합을 구해봅시다.
set_a - set_b

* 합집합은 연산자 `|`를 사용합니다.

In [ ]:
# set_a와 set_b의 합집합을 구해봅시다.
set_a | set_b

* 교집합은 연산자 `&`을 사용합니다.

In [ ]:
# set_a와 set_b의 교집합을 구해봅시다.
set_a & set_b

In [ ]:
# set은 중복된 값이 있을 수 없습니다.
{1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 4, 5}

* `set`을 활용하면 `list`의 중복된 값을 손쉽게 제거할 수 있습니다.
* 단, `set`으로 변환하는 순간 순서를 보장할 수 없습니다.

In [ ]:
# set으로 중복된 값을 제거해봅시다.
# 정수 1, 2, 3, 1, 1, 2를 원소로 가지는 list를 만듭니다.
# 생성한 list를 set으로 형 변환 합니다.
# 결과를 출력 해봅시다.
nums = [3, 1, 2, 2, 3, 1]

s_nums = set(nums)
print(s_nums)

In [ ]:
# 다시 list로 바꿔서 확인해봅시다.
list(s_nums)

In [53]:
# mutable
s = {1, 2, 3}
s.add(4)
s

{1, 2, 3, 4}

## `dictionary`

`dictionary`는 `key`와 `value`가 쌍으로 이뤄져있습니다.


<center><img src="https://user-images.githubusercontent.com/18046097/61180427-1405d880-a651-11e9-94e1-1cc5c2a2ff34.png"></center>

### 활용법

```python
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

* `{}`를 통해 만들며, `dict()`로 만들 수 있습니다.
* `key`는 **변경 불가능(immutable)한 데이터**만 가능합니다. (immutable : string, integer, float, boolean, tuple, range)
* `value`는 `list`, `dictionary`를 포함한 모든 것이 가능합니다.

In [ ]:
# 비어있는 dictionary를 두가지 방법으로 만들어봅시다.
# {}와 dict()로 만들 수 있습니다.
# 두 변수의 타입을 출력해 봅시다.
a = {}
b = dict()

a == b, type(a), type(b)

In [ ]:
# dictionary에 중복된 key는 존재할 수가 없습니다.
{'a': 1, 'a': 2}

In [ ]:
# 지역번호가 담긴 전화번호부를 만들어봅시다.
# 변수 phone_book에 key를 지역명, value를 지역번호로 가지는 원소를 작성합니다.
# 예) 서울 - 02
phone_book = {'서울': '02', '인천': '032', '광주': '062', '부산': '051'}

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 key 목록을 확인 해 봅시다.
# dictionary의 .keys() 메소드를 활용하여 key를 확인 해볼 수 있습니다.
phone_book.keys()

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 value 목록을 확인 해 봅시다.
# 딕셔너리의 .values() 메소드를 활용하여 value를 확인 해볼 수 있습니다.
phone_book.values()

In [ ]:
# 위에서 작성한 phone_book이 가지고 있는 key와 value 목록을 확인 해 봅시다.
# 딕셔너리의 .items() 메소드를 활용하여 key, value를 확인 해볼 수 있습니다.
phone_book.items()

In [57]:
d = {'a': 1, 'b': 2}

# dict의 존재하는 Key로 Value 조회
d['a']
# dict의 존재하지 않는 Key로 Value 조회
#  d['c']  # KeyError => 키가 없다

# dict 존재하는 Key => Value 변경
d['a'] = 100
# dict 존재하지 않는 Key => Key-Value 추가
d['c'] = 3
print(d)

{'a': 100, 'b': 2, 'c': 3}

## 컨테이너형 형변환

파이썬에서 컨테이너는 서로 변환할 수 있습니다.

<img width="708" alt="typecasting" src="https://user-images.githubusercontent.com/18046097/61180466-a6a67780-a651-11e9-8c0a-adb9e1ee04de.png">

In [ ]:
# 하나의 결과를 확인 한 후, 주석 `#` 을 활용하여 이전의 코드를 비활성화 합니다.
# 형변환 후의 결과를 확인 합니다.

In [13]:
# list를 형변환 해봅시다.
l = [1, 2, 3, 4]

str(l)    # '[1, 2, 3, 4]'
tuple(l)  # (1, 2, 3, 4)
set(l)    # {1, 2, 3, 4}
# range(l)  # x
# dict(l)   # x

{1, 2, 3, 4}

In [12]:
# tuple을 형변환 해봅시다.
t = (1, 2, 3, 4)

str(t)  # '(1, 2, 3, 4)'
list(t)  # [1, 2, 3, 4]
set(t)   # {1, 2, 3, 4}
# range(t)  # X
# dict(t)   # X

{1, 2, 3, 4}

In [19]:
# range를 형변환 해봅시다.
r = range(1, 5)

str(r)  # 'range(1, 5)'
list(r)  # [1, 2, 3, 4]
tuple(r)  # (1, 2, 3, 4)
# dict(r)  # X

(1, 2, 3, 4)

In [25]:
# set을 형변환 해봅시다.
s = {1, 2, 3, 4}

str(s)  # '{1, 2, 3, 4}'
list(s)  # [1, 2, 3, 4]
tuple(s)  # (1, 2, 3, 4)
# range(s)  # X
# dict(s)  # X

(1, 2, 3, 4)

In [33]:
# dictionary를 형변환 해봅시다.
d = {'a': 1, 'b': 2}

str(d)  # "{'a': 1, 'b': 2}"
list(d)  # ['a', 'b']
tuple(d)  # ('a', 'b')
set(d)  # {'a', 'b'}
# range(d)  # X

{'a', 'b'}

## 데이터의 분류
> `mutable` vs. `immutable`

데이터는 크게 변경 가능한 것(`mutable`)들과 변경 불가능한 것(`immutable`)으로 나뉘며, python은 각각을 다르게 다룹니다.

### 변경 불가능한(`immutable`) 데이터

* 리터럴(literal)

    - 숫자(Number)
    - 글자(String)
    - 참/거짓(Bool)

* range()

* tuple()

* frozenset()

In [ ]:
# immutable 데이터의 복사는 어떻게 이루어질까?

In [ ]:
# 아래 코드 블럭을 실행하여 복사 과정을 확인해 봅시다.

In [34]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%2020%0Ab%20%3D%20a%0Ab%20%3D%2010%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

### 변경 가능한(`mutable`) 데이터

- `list`
- `dict`
- `set`

In [ ]:
# mutable 데이터의 복사는 어떻게 이루어질까?

In [38]:
# 아래 코드 블럭을 실행하여 복사 과정을 확인해 봅시다.

[1, 20, 3]

In [35]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=num1%20%3D%20%5B1,%202,%203,%204%5D%0Anum2%20%3D%20num1%0Anum2%5B0%5D%20%3D%20100%0A%0Aprint%28num1%29%0Aprint%28num2%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

# 정리
## 컨테이너(Container)
<center><img src="https://user-images.githubusercontent.com/18046097/61180439-44e60d80-a651-11e9-9adc-e60fa57c2165.png", alt="container"/></center>

In [61]:
type(1)

int

In [69]:
n = 1
l = []
while n < 11:
    l.append(n)
    n += 1

l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
x = 1, 2
print(x)
a, b= 1, 2
print(a, b)

(1, 2)
1 2

In [80]:
a = [1, 2, 3]
b = [4, 5, 6]

list(map(sum, zip(a, b)))

[5, 7, 9]

In [81]:
c = []
for idx in range(3):
    num = a[idx] + b[idx]
    c.append(num)
c

[5, 7, 9]